<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <h2>
            <%=projectDetails.title%>
        </h2>
        <p>
            <%= projectDetails.description %>
        </p>
        <p>
            <%= projectDetails.location %>
        </p>
        <p>
            <%= projectDetails.date %>
        </p>


    </main>
    <%- include('partials/footer') %>