<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <p>Here are some service projects:</p>
        <ul class="organizations-list">
            <% projects.forEach(project=> { %>
                <li>
                    <p>
                        <%= project.date.toISOString().split("T")[0] %>:
                            <%= project.title %>
                                (<strong>
                                    <%=project.name%>
                                </strong>)
                    </p>
                </li>
                <% }); %>
        </ul>
    </main>
    <%- include('partials/footer') %>