<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <p>Here are some service projects:</p>
        <ul class="organizations-list">
            <% projects.forEach(project=> { %>
                <li>
                    <p>
                        <%= project.date.toISOString().split("T")[0] %>:
                            <a href="/project/<%= project.project_id %>">
                                <%= project.title %>
                            </a>
                            (<a href="/organization/<%= project.organization_id %>"> <strong>
                                    <%= project.organization_name %>
                                </strong></a>)
                    </p>
                </li>
                <% }); %>
        </ul>
    </main>
    <%- include('partials/footer') %>