<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <h2>
            <%=projectDetails[0].title%>
        </h2>

        <p>
            <strong>Location:</strong>
            <%= projectDetails[0].location %>
        </p>
        <p>
            <strong>Date:</strong>
            <%= projectDetails[0].date.toISOString().split('T')[0] %>
        </p>
        <p>
            <strong>Overview:</strong> <br>
            <%= projectDetails[0].description %>
        </p>
        <h3>Categories:</h3>
        <ul>
            <% projectCategories.forEach(category=> { %>
                <li>
                    <a href="/category/<%= category.category_id %>">
                        <%= category.name %>
                    </a>
                </li>
                <% }) %>
        </ul>


    </main>
    <%- include('partials/footer') %>